@font-face {
  font-family: 'Gotham';
  src: url('fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/GothamPro-Medium.otf')  format('opentype'),
         url('fonts/GothamPro-Medium.woff') format('woff'), url('fonts/GothamPro-Medium.ttf')  format('truetype'), url('fonts/GothamPro-Medium.svg#fonts/GothamPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font{
    font-family: 'Gotham', Arial, sans-serif;
}

h1{

}
h2{
  
}
h3{
    
}
p,li, span{
    
}

strong, b{

}
a{

  &:hover{
        
  }
}
ul{
    li{
        
    }
}